@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'RocknRoll One', sans-serif;
}

body {
  background: linear-gradient(132.21deg, #8e80ff 9.91%, #80c9ff 82.34%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #181818;
}
